    Выполнить разработку HTML страницы, которая должна содержать 
кадры, тексты, параграфы, списки, таблицы, гипертекстовые ссылки, 
формы в соответствии с номером варианта, приведенного в таблице.

+1. Документ должен содержать общий заголовок

                    Оформление кадров (frame)
+2. Разбить страницу на 3 фрейма в виде двух строк и двух столбцов.

+3. Форма кадра
     а)┌────────────┐     б)┌───┬──────────┐
       ├─────┬──────┤       │   │          │
       │     │      │       │   ├──────────┤
       └─────┴──────┘       └───┴──────────┘

+4. Одно из окон должно быть выполнено без линейки прокрутки. В не-
го загружаются сведения об авторе с возможностью переслать ему 
e-mail

+5. Два других кадра должны различаться:
     а) наличием линейки прокрутки
     б) размером базового шрифта для текста

+6. Во второй фрейм вывести список, оформленный в виде меню со ссылками 
к различным частям текущего документа. Информация, полученная по этим 
ссылкам, должна загружаться в третий фрейм.

+7. При гипертекстовой ссылке от элементов текста, загруженного в третий 
фрейм, новая информация должна появляться в этом же фрейме.

                    Оформление текста
+8. Задний фон страницы это:
    а) определенный цвет
    б) некоторая картинка

+9. Текст страницы оформлен в виде:
    а) один  столбец форматирован по центру,  один из абзацев имеет
       определенный отступ слева по сравнению с другими
    б) два столбца форматированы по левому краю

+10. Каждый параграф должен отличаться от предыдущего типом и разме-
    ром шрифта. Изменение размера шрифта выполняется:
    а) в абсолютных единицах
    б) относительно текущего размера шрифта

+11. Параграфы должны иметь заголовки,  которые  различаются  цветом
    шрифта и форматированием:
    а) по центру
    б) к левому краю

-12. Разделы текста должны разделяться разделителями,  которые отли-
    чаются:
    а) шириной
    б) высотой

+13. Способы выравнивания заголовка и следующего за ним параграфа 
должны совпадать.

                    Оформление списков

+14. На странице должны быть расположены два списка:
    а) два нумерованных
    б) один ненумерованный и один список определений

-15. Форма ненумерованного списка:
    а) один столбец
    б) несколько столбцов

-16. Форма нумерованного списка:
    а) компактное представление
    б) нормальное представление

-17. Форма списка определений:
    а) определение начинается в той же строке, что и термин
    б) определение начинается на следующей строке

+18. Для ненумерованных списков предусмотреть тип символа 'bullet':
    а) треугольник
    б) прямоугольник

-19. Ввести ненумерованный список, оформленный в виде двух столбцов, 
каждый элемент которого имеет свой тип символа "•".

-20. Ввести 3 нумерованных списка. Нумерация второго списка продолжает 
стиль и нумерацию первого списка. Нумерация третьего списка меняет 
стиль и начинается сначала.

+21. Для нумерованных списков нумерация второго списка:
    а) продолжает нумерацию первого, стиль нумерации сохраняется
    б) начинается сначала и отличается стилем нумерации

                    Оформление таблиц

+22. Создать на странице 2 таблицы, в которых будет не менее 6 строк и 5
столбцов и будут ячейки, охватывающие несколько строк и столбцов.

-23. Ввести и отформатировать заголовок таблицы.

+24. Изменить ширину таблиц так, чтобы они занимали 50 и 100% ширины страницы
соответственно.

+25. Для первой таблицы отменить вывод рамки, для другой ввести заданный размер
рамки и заданный отступ информации ячеек от рамки.

+26. Ячейки заголовков должны иметь горизонтальное выравнивание по центру.

+27. Оформить с помощью таблиц один из разделов страницы в виде двух столбцов
текста.

-28. Размер таблицы:
    а) фиксированный
    б) определенная часть экрана

+29. В таблице должно быть выделено цветом:
    а) несколько столбцов
    б) группа строк

+30. Текст в ячейках таблицы должен быть форматирован:
    а) внутри столбца - к левому краю
    б) внутри строки  - по центру ячейки

+31. Ячейки данных и заголовков должны отличаться:
    а) цветом шрифта
    б) размером шрифта

-32. Внешний вид таблицы:
      а)┌──────────────┐     б)┌─────┬───────────┐
        ├──────┬───┬───│       │     │           │
        ├──────┤   │   │       │     ├─────┬─────┤
        │      │   │   │       │     │─────┴─────┤
        └──────┴───┴───┘       └─────┴───────────┘

                    Оформление гипертекстовых ссылок

+33. Ввести гипертекстовую ссылку для перехода в новый документ из параграфа.

+34. Поименовать некоторые части HTML-страницы и ввести гипертекстовую ссылку
на эти части из элементов списка.

+35. Ввести в раздел сведений об авторах страницы гипертекстовую ссылку с 
возможностью посылки автору документа сообщения по электронной почте.

+36. Посещенные и непосещенные линковки  должны различаться цветом

+37. Переход на часть текущего документа осуществляется:
    а) из ячейки таблицы
    б) от элемента списка

+38. Переход на новый документ осуществляется:
    а) из правой части картинки
    б) из области в центре картинки

+39. Загрузка нового документа осуществляется:
    а) в новое окно (frame)
    б) в окно (frame), откуда производился вызов линковки

                    Оформление изображений и управление цветами

+40. Загрузить некоторую картинку в качестве заднего фона HTML-страницы.

+41. Изменить цвет заголовков разделов и области сведений об авторах.

+42. Изменить цвет фона в одном столбце, группе строк и отдельной ячейке.

+43. Ввести для картинок размер отступа текста вокруг изображения, альтернативный
текст и бордюр.

+44. Ввести третью встраиваемую картинку, которая должна загружаться без бордюра
в окно заданного размера. Выполнить разметку этой картинки как image map.

+45. Ввести гипертекстовую ссылку на новый документ от правой половины картинки
и переход на часть текущего документа от области, расположенной в центре левой
половины картинки.

+46. Внутри одного или нескольких параграфов должна быть  встроенная
картинка. Взаимное расположение текста и картинки:
    а) текст обтекает картинку справа. Новое предложение начинается
    ниже картинки
    б) текст обтекает картинку с двух сторон. Новое предложение на-
    чинается ниже картинки
